{% extends "base.html" %}
{% block content %}
    {% for book in books.items %}
        <article class="media border border-secondary p-3 m-3" style="width: 100%;">
            <img class="mr-3 img-responsive" style="width: 10%;" src="{{ url_for('static', filename='book_pics/'+book.image_file) }}" alt="{{book.image_file}}">
            <div class="media-body">
                <div class="article-metadata">
                    <small class="text-muted">Date added to the shelve: {{book.date_added.strftime('%Y-%m-%d')}}</small>
                </div>
                <h2><a style="font-family: 'Artifika'; text-decoration: none; color:black;" class="article-title" href='{{url_for("book", book_id=book.id)}}'>{{book.name}}</a></h2>
                <h5 style="font-family: 'Artifika';">author(s): {{book.author}} </h5>
            </div>
        </article>
    {% endfor %}
    {% for page_num in books.iter_pages(left_edge=1,right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if page_num == books.page %}
                <a href="{{ url_for('home', page=page_num) }}" class="btn btn-success mb-4">{{page_num}}</a>
            {% else %}
                <a href="{{ url_for('home', page=page_num) }}" class="btn btn-outline-success mb-4">{{page_num}}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{% endblock %}